<nav class="navbar">
    <div class="container">
        <ul>
            <li><a id="project-name" href="/">DiceRoll</a></li>
            <li id="sign-in-form">
                <a href="/" style="color: aqua;">Home</a>
                <a href="/login" style="color: aqua;">Sign in</a>
            </li>
        </ul>
    </div>
</nav>