<nav class="navbar">
    <div class="container">
        <ul>
            <li><a id="project-name" href="#">DiceRoll</a></li>
            <li id="sign-in-form">
                <i class="fas fa-bars" style="font-size:60px;color:lightblue;"></i>
                <form method="post" action="#">
                    <input type="text" name="email" placeholder="Email">
                    <input type="text" name="password" placeholder="Password">
                    <input type="submit" name="submit" value="Sign in">
                </form>
            </li>
        </ul>
    </div>
</nav>