<% include layouts/head %>
<% include layouts/header %>

<% var username; %>
<nav class="navbar">
	<div class="container">
		<ul>
			<li><a id="project-name" href="/">DiceRoll</a></li>
			<li id="sign-in-form">
				<a href="/" style="color: aqua; margin-right: 15px;">Home</a>
				<a href="/vd" style="color: aqua; margin-right: 15px;">Vi du</a>
				<a href="/dice-roller" style="color: aqua; margin-right: 15px;">DiceRoll</a>

				<a href="#" style="color: aqua; margin-right: 15px;">Hello <%= username%></a>
				<a href="/logout" style="color: rgb(205, 218, 218);">Logout</a>

			</li>
		</ul>
	</div>
</nav>
<div id="main_container">
	<div id="title">
		<h1 id="text">Hey you! Give us roll!</h1>
	</div>
	<div>
		<label>Moi ban chon so Roll</label>
		<input id="textNumber" type="number" min="1" max="6">
	</div>
	<div id="dice"></div>
	<div class="button btn_up" id="shaker">
		<div class="btn_text">Shake 'em'!</div>
	</div>
	<script src="/js/dice.js"></script>
</div>

<% include layouts/footer %>