<% include layouts/head %>
<% include layouts/header %>

<div id="main_container">
	<div id="title">
		<h1 id="text">Hey you! Give us roll!</h1>
	</div>
	<div>
		<label>Moi ban chon so Roll</label>
		<input id="textNumber" type="number" min="1" max="6">
	</div>
	<div id="dice"></div>
	<div class="button btn_up" id="shaker">
		<div class="btn_text">Shake 'em'!</div>
	</div>
	<script src="js/index.js"></script>
</div>

<% include layouts/footer %>

