<% include layouts/head %>
<% include layouts/header %>

<link rel="stylesheet" href="/css/login.css">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="modal-dialog modal-login">
    <div class="modal-content">
        <div class="modal-header">
            <div class="avatar">
                <!-- <img src="/public/images/user2.png" alt="Avatar"> -->
            </div>
            <h4 class="modal-title">Member Login</h4>
        </div>
        <div class="modal-body">
            <form action="auth" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password"
                        required="required">
                </div>
                <div class="form-group">
                    <button type="submit" id="login" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#">Forgot Password?</a>
        </div>
    </div>
</div>

<% include layouts/footer %>