<% include layouts/head %>
<% include layouts/header %>
<% var messageuser,messagepass,tmpuser,tmppass;%>

<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="modal-dialog modal-login">
    <div class="modal-content">
        <div class="modal-header">
            <div class="avatar">
                <img src="/images/user2.png" alt="Avatar">
            </div>
            <h4 class="modal-title">Member Login</h4>
        </div>
        <div class="modal-body">
            <form action="login" method="post">
                <div class="form-group">
                    <% if (tmpuser) { %>
                    <input type="text" class="form-control" name="username" placeholder="Username"
                        value="<%- tmpuser %>">
                    <% } else { %>
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                    <% } %>

                    <% if (messageuser) { %>
                    <label><%= messageuser %></label>
                    <% } %>

                </div>
                <div class="form-group">
                    <% if (tmppass) { %>
                    <input type="password" class="form-control" name="password" placeholder="Password"
                        value="<%- tmppass %>">
                    <% } else { %>
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                    <% } %>

                    <% if (messagepass) { %>
                    <label><%= messagepass %></label>
                    <% } %>
                </div>
                <div class="form-group">
                    <button type="submit" id="login" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#">Forgot Password?</a>
        </div>
    </div>
</div>

<% include layouts/footer %>