<% include layouts/head %>
<% include layouts/header %>
<nav class="navbar">
	<div class="container">
		<ul>
			<li><a id="project-name" href="/">DiceRoll</a></li>
			<li id="sign-in-form">
				<a href="/" style="color: aqua; margin-right: 15px;">Home</a>

				<a href="/vd" style="color: aqua; margin-right: 15px;">Vi du</a>
				<a href="/dice-roller" style="color: aqua; margin-right: 15px;">DiceRoll</a>
				<a href="#" style="color: aqua; margin-right: 15px;">Hello <%= username%></a>
				<a href="/logout" style="color: rgb(205, 218, 218);">Logout</a>

			</li>
		</ul>
	</div>
</nav>
<div style="margin-top: 100px;">
    This is test page Vi du login success
</div>

<% include layouts/footer %>